<h5>Editing reminder</h5>
{{input id="title-input" valueBinding=model.title type="text"}}
{{input id="date-input" valueBinding=model.date type="text" }}
{{input id="notes-input" valueBinding=model.notes type="text" }}
<button  id="save-reminder-button" {{action "updateReminder"}}>save</button>

