<h4>Selected Reminder</h4>

<div class="reminder-single">
  <h3 class="reminder-title">{{model.title}}</h3>
  <p>{{model.date}}</p>
  <p>{{model.notes}}</p>
  {{#link-to 'reminders.edit' model}}
    <button id="edit-reminder-button">Edit</button>
  {{/link-to}}
</div>

{{outlet}}
