<h2>Reminder page</h2>
{{outlet}}


<h3>All reminders</h3>
{{#each model as |reminder|}}
  <div class="reminder-item">
    {{#link-to "reminders.reminder" reminder}}
    <h4>{{reminder.title}}</h4>
    {{/link-to}}
    <button {{action "delete" reminder}}> Delete </button>
  </div>
{{else}}
  <p class="no-reminders-notice">No reminders, click below to enter one.</p>
{{/each}}

<br>

{{#link-to "reminders.new"}}
  <button>Make a new Idea</button>
{{/link-to}}



