<h2>Reminder page</h2>
{{outlet}}

<h3>All reminders</h3>
{{#each model as |reminder|}}
  {{#link-to "reminders.reminder" reminder}}
  <div class="reminder-item">
    <h4>{{reminder.title}}</h4>
  </div>
  {{/link-to}}
{{/each}}

